<h1>All Blog Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
    <p><%= raw sanitize(simple_format(post.post_text)) %></p></li>
  <% end %>
</ul>
